<% include ./tilhead %>

<h1><%= title %></h1>
<h3>All Entries</h3>
<p>
  <ul>

    <% for(var i = 0; i<til.length; i++){ %>
      <li><a href="/til/<%=i%>"><%= til[i].slug%></a>
       <a href = "/til/<%=til[i].id%>/update"> Edit </a>
       <a href ="/til/<%=til[i].id%>/delete"> Delete </a>
     </li>
   <%}%>
  </ul>

</p>
<h2><a href="/til/create"> Create New </a></h2>
<% include ../footer %>
